<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.promo.gmall.mapper.HomeResourceMapper">
    <resultMap id="BaseResultMap" type="com.promo.gmall.domain.HomeResourceDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="category_config" jdbcType="VARCHAR" property="categoryConfig"/>
        <result column="banner_config" jdbcType="VARCHAR" property="bannerConfig"/>
        <result column="top_sale_config" jdbcType="VARCHAR" property="topSaleConfig"/>
        <result column="new_item_config" jdbcType="VARCHAR" property="newItemConfig"/>
        <result column="you_may_like_config" jdbcType="VARCHAR" property="youMayLikeConfig"/>
        <result column="is_deleted" jdbcType="INTEGER" property="isDeleted"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, name, category_config, banner_config, top_sale_config, new_item_config, you_may_like_config,
        is_deleted, create_time, update_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from home_resource
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from home_resource
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.promo.gmall.domain.HomeResourceDO">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into home_resource (name, category_config, banner_config,
        top_sale_config, new_item_config, you_may_like_config,
        is_deleted, create_time, update_time
        )
        values (#{name,jdbcType=VARCHAR}, #{categoryConfig,jdbcType=VARCHAR}, #{bannerConfig,jdbcType=VARCHAR},
        #{topSaleConfig,jdbcType=VARCHAR}, #{newItemConfig,jdbcType=VARCHAR}, #{youMayLikeConfig,jdbcType=VARCHAR},
        #{isDeleted,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.promo.gmall.domain.HomeResourceDO">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into home_resource
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                name,
            </if>
            <if test="categoryConfig != null">
                category_config,
            </if>
            <if test="bannerConfig != null">
                banner_config,
            </if>
            <if test="topSaleConfig != null">
                top_sale_config,
            </if>
            <if test="newItemConfig != null">
                new_item_config,
            </if>
            <if test="youMayLikeConfig != null">
                you_may_like_config,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="categoryConfig != null">
                #{categoryConfig,jdbcType=VARCHAR},
            </if>
            <if test="bannerConfig != null">
                #{bannerConfig,jdbcType=VARCHAR},
            </if>
            <if test="topSaleConfig != null">
                #{topSaleConfig,jdbcType=VARCHAR},
            </if>
            <if test="newItemConfig != null">
                #{newItemConfig,jdbcType=VARCHAR},
            </if>
            <if test="youMayLikeConfig != null">
                #{youMayLikeConfig,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.promo.gmall.domain.HomeResourceDO">
        update home_resource
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="categoryConfig != null">
                category_config = #{categoryConfig,jdbcType=VARCHAR},
            </if>
            <if test="bannerConfig != null">
                banner_config = #{bannerConfig,jdbcType=VARCHAR},
            </if>
            <if test="topSaleConfig != null">
                top_sale_config = #{topSaleConfig,jdbcType=VARCHAR},
            </if>
            <if test="newItemConfig != null">
                new_item_config = #{newItemConfig,jdbcType=VARCHAR},
            </if>
            <if test="youMayLikeConfig != null">
                you_may_like_config = #{youMayLikeConfig,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.promo.gmall.domain.HomeResourceDO">
        update home_resource
        set name = #{name,jdbcType=VARCHAR},
        category_config = #{categoryConfig,jdbcType=VARCHAR},
        banner_config = #{bannerConfig,jdbcType=VARCHAR},
        top_sale_config = #{topSaleConfig,jdbcType=VARCHAR},
        new_item_config = #{newItemConfig,jdbcType=VARCHAR},
        you_may_like_config = #{youMayLikeConfig,jdbcType=VARCHAR},
        is_deleted = #{isDeleted,jdbcType=INTEGER},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>