<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.promo.gmall.mapper.ItemPriceMapper">
    <resultMap id="BaseResultMap" type="com.promo.gmall.domain.ItemPriceDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="item_id" jdbcType="BIGINT" property="itemId"/>
        <result column="level" jdbcType="INTEGER" property="level"/>
        <result column="price" jdbcType="INTEGER" property="price"/>
        <result column="product_time" jdbcType="INTEGER" property="productTime"/>
        <result column="is_deleted" jdbcType="INTEGER" property="isDeleted"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, item_id, level, price, product_time, is_deleted, create_time, update_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from item_price
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from item_price
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.promo.gmall.domain.ItemPriceDO">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into item_price (item_id, level, price,
        product_time, is_deleted, create_time,
        update_time)
        values (#{itemId,jdbcType=BIGINT}, #{level,jdbcType=INTEGER}, #{price,jdbcType=INTEGER},
        #{productTime,jdbcType=INTEGER}, #{isDeleted,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.promo.gmall.domain.ItemPriceDO">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into item_price
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="itemId != null">
                item_id,
            </if>
            <if test="level != null">
                level,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="productTime != null">
                product_time,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="itemId != null">
                #{itemId,jdbcType=BIGINT},
            </if>
            <if test="level != null">
                #{level,jdbcType=INTEGER},
            </if>
            <if test="price != null">
                #{price,jdbcType=INTEGER},
            </if>
            <if test="productTime != null">
                #{productTime,jdbcType=INTEGER},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.promo.gmall.domain.ItemPriceDO">
        update item_price
        <set>
            <if test="itemId != null">
                item_id = #{itemId,jdbcType=BIGINT},
            </if>
            <if test="level != null">
                level = #{level,jdbcType=INTEGER},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=INTEGER},
            </if>
            <if test="productTime != null">
                product_time = #{productTime,jdbcType=INTEGER},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.promo.gmall.domain.ItemPriceDO">
        update item_price
        set item_id = #{itemId,jdbcType=BIGINT},
        level = #{level,jdbcType=INTEGER},
        price = #{price,jdbcType=INTEGER},
        product_time = #{productTime,jdbcType=INTEGER},
        is_deleted = #{isDeleted,jdbcType=INTEGER},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>